<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.DB_9AB8B7_B19ES7077ConnectionString"
            connectionString="Data Source=SQL5020.site4now.net;Initial Catalog=DB_9AB8B7_B19ES7077;User ID=DB_9AB8B7_B19ES7077_admin;Password=qbES4uQW"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>